<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>定向推送设置</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
</head>
<body>
	<!--头部-->
	<header class="mui-bar gradient mui-bar-nav header">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title colorFFF">定向推送设置</h1>
	</header>
	
	<div class="mui-content pushset">
	    <div class="push_list">
	    	<!--好友列表-->
			<div class="listGroup">
				<div class="lists">
					<p>好友列表</p>
					<ul class="mui-table-view noline fnBtns mui-input-group">
						<li class="mui-input-row mui-checkbox mui-left" v-cloak v-for="d in datas">
							<label>
								<img :src="d.avatar || '../../images/avatar.png'" />
								<span>{{d.nickname}}</span>
							</label>
							<input :value="d.user_id" v-model="pushs" type="checkbox">
						</li>
					</ul>
				</div>
			</div>
	    </div>
	</div>
<script src="../../js/sea.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/entrance.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>