<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
</head>
<body>
	<!--头部-->
	<header class="mui-bar gradient mui-bar-nav header">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title colorFFF">注册</h1>
	</header>
	
	<div class="mui-content regBox">
	    <div id="formBox">
	    	<input placeholder="手机号" type="tel" v-model="phone"/>
	    	<div class="verify mui-clearfix">
	    		<input type="tel" v-model="verifycode" class="verify_input mui-pull-left" placeholder="请输入验证码" />
	    		<button :disabled="!sendBtn" v-cloak @tap="sendcode" class="mui-btn mui-pull-right mui-btn-blue">{{codetxt}}</button>
	    	</div>
	    	<input type="password" placeholder="密码" v-model="pwd"/>
	    	<!--<button data-href="../index/index.html" class="open reg mui-btn mui-btn-block mui-btn-blue">注册</button>-->
	    	<button @tap="regBtn" class="mui-btn mui-btn-block mui-btn-blue">注册</button>
	    </div>
	    <div class="mui-input-row checkbox mui-checkbox mui-left">
			<label>已阅读并同意  <a href="javascript:;">达人日记隐私协议</a></label>
			<input v-model="isAgree"  type="checkbox" :checked="isAgree">
		</div>
		
		<button class="mui-action-back mui-btn link_login mui-btn-block">已有账号?</button>
	</div>
<script src="../../js/sea.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/entrance.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>