<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>日记详情</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/zoom.css"/>
</head>
<body>
	<!--头部-->
	<header class="mui-bar gradient mui-bar-nav header">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title colorFFF">日记详情</h1>
	</header>
	
	<div class="mui-content diary_detail" v-cloak>
		
		<ul class="mui-table-view noline">
			<li class="mui-table-view-cell mui-media">
				<a :href="'../index/friend_info.html?id='+ user_id + '&user=' + user_name" class="infoBox">
					<p class="avatar_box">
						<img class="avatar_img mui-media-object mui-pull-left" :src="avatar || '../../images/avatar.png'">
						<img v-if="is_auth" class="icon-v" src="../../images/v.png" />
					</p>
					
					<div class="mui-media-body">
						<span style="display: inline-block;height: 20px;"><em>{{user_name}}</em></span>
						<!--<img src="../../images/male.png" />-->
						<!--<img src="../../images/add_firend.png" />-->
						<p class="mui-ellipsis">
							<span>红粉:{{fans}}人</span>
							<!--<span>评论:200人</span>-->
						</p>
						<div class="detailBtns">
							<button @tap.stop="openIm" class="mui-btn mui-btn-outlined mui-btn-blue">私信</button>
							<button v-if="is_subscribed" class="mui-btn mui-btn-outlined mui-btn-blue" disabled>已关注</button>
							<button v-else @tap.stop="addSub(user_id)" class="mui-btn mui-btn-outlined mui-btn-blue">关注</button>
						</div>
					</div>
				</a>
			</li>
			<li></li>
		</ul>
		<!--日记标题-->
		<h1 class="diary_title">{{title}}</h1>
		<!--日期-->
		<p class="diary_date">
			<span>{{date}}</span>
			<span>星期{{day}}</span>
			<span>{{weather}}</span>
			<span>{{feeling}}</span>
		</p>
		
		<div class="diary_content default pad15" v-show="template == 'default'">
			<pre style="margin-top:0;white-space: pre-wrap;"><p>{{content.replace('&&__&&','')}}</p></pre>
			<img data-preview-src="" data-preview-group="1" v-for="img in imgs" :src="imgHost + img" />
		</div>
		
		<div class="diary_content temp temp1 pad15" v-show="template == 'temp1'">
			<div class="top mui-clearfix">
				<div class="img autoHeight">
					<img data-preview-src="" data-preview-group="2" :src="imgs[0]?imgHost + imgs[0]:''" />
				</div>
				
				<div class="content autoHeight">
					<pre><p>{{content.split('&&__&&')[0]}}</p></pre>
				</div>
			</div>
			
			<div class="bottom">
				<div class="bottom_img">
					<img data-preview-src="" data-preview-group="2" :src="imgs[1]?imgHost + imgs[1]:''"  />
				</div>
				<div class="content" v-if="content.split('&&__&&')[1]">
					<pre><p>{{content.split('&&__&&')[1]}}</p></pre>
				</div>
			</div>
		</div>
		
		<div class="diary_content temp temp2 pad15" v-show="template == 'temp2'">
			<div class="top mui-clearfix">
				<div class="img autoHeight">
					<img data-preview-src="" data-preview-group="3" :src="imgs[0]?imgHost + imgs[0]:''" />
				</div>
				
				<div class="content autoHeight">
					<pre><p>{{content.split('&&__&&')[0]}}</p></pre>
				</div>
			</div>
			
			<div class="bottom">
				<div class="content" v-if="content.split('&&__&&')[1]">
					<pre><p>{{content.split('&&__&&')[1]}}</p></pre>
				</div>
				
				<div class="bottom_img">
					<img data-preview-src="" data-preview-group="3" :src="imgs[1]?imgHost + imgs[1]:''" />
				</div>
			</div>
		</div>
		
		<nav class="mui-bar footer mui-bar-tab">
			<div :data-href="'diary_comm.html?title=' + title + '&id=' + id" class="open fnBtns pl">
				<img src="../../images/pl.png" />
				<span>评论</span>
			</div>
			<div @tap="share" class="fnBtns">
				<img src="../../images/fx.png" />
				<span>分享</span>
			</div>
			<div class="fnBtns ds" @tap="give">
				<img src="../../images/s.png" />
				<span>打赏</span>
			</div>
		</nav>
	</div>
	
<script src="../../js/sea.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/entrance.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>